<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "classpath:/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<!-- <setting name="cacheEnabled" value="true" /> -->
	</settings>

	<!-- <plugins>  
        <plugin interceptor="com.shiyi.song.module.plugin.ShardPlugin" />  
	</plugins> -->
	<!-- <typeAliases> <typeAlias alias="FileServer" type="com.shiyi.fileservice.model.FileServer" 
		/> <typeAlias alias="StoreFile" type="com.shiyi.fileservice.model.StoreFile" 
		/> </typeAliases> -->
</configuration>